@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.g-1 {
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.hello {
  width: 100%;
}

.card img {
  height: 200px;
}

i {
  color: white;
}