---
import Contact from "../../components/Contact.astro";
import Project from "../../components/Project.astro";
import Skills from "../../components/Skills.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const data = {
  title: "Bassam Ahmad",
  pageType: "website",
  description: "Web developer",
  tags: [
    "programmer",
    "web development",
    "python",
    "javascript",
    "programming",
    "Frontend",
    "Backend",
    "Python",
    "JavaScript",
    "C++",
    "C",
    "React",
    "Astro",
    "Nextjs",
    "Tailwind",
    "Flask",
    "REST API",
    "GraphQL",
    "SQL",
    "Mongodb",
    "Git",
    "Problem solving",
  ],
  author: "Bassam Ahmad",
};
---

<BaseLayout data={data}>
  <h1 class="text-5xl text-teal-600 my-5">Bassam Ahmad</h1>
  <section>
    <h2 class="text-2xl my-2 px-3">Web developer.</h2>
    <p class="px-3">
      I'm looking forward to increase my experience and build perfect products.
    </p>
    <hr class="max-w-sm border-teal-600 mt-2 mb-5" />
  </section>
  <section>
    <h2 class="text-4xl text-teal-600">Projects</h2>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 p-3"
    >
      <Project
        name="Real Time Chat App"
        github="chat-app"
        img={{
          url: "/chat-app.png",
          alt: "App Screenshot",
        }}
      />
      <Project
        name="Note App"
        github="note-app"
        img={{
          url: "/note-app.png",
          alt: "App Screenshot",
        }}
      />
      <Project
        name="URL Shortener"
        github="url-shortener"
        img={{
          url: "/url-shortener.png",
          alt: "App Screenshot",
        }}
      />
      <Project
        name="Ecommerce Website"
        github="ecommerce"
        img={{
          url: "/ecommerce.png",
          alt: "App Screenshot",
        }}
      />
      <Project
        name="QRcoder Discord bot"
        github="qrcoder-discord-bot"
        img={{
          url: "/discord.png",
          alt: "App Screenshot",
        }}
      />
    </ul>
    <a
      href="http://github/BassamXYZ"
      class="px-3 text-teal-600 hover:text-blue-600">For more: Github.</a
    >
    <hr class="max-w-sm border-teal-600 mt-2 mb-5" />
  </section>
  <section>
    <h2 class="text-4xl text-teal-600">Skills</h2>
    <Skills
      skills={[
        "Frontend",
        "Backend",
        "Python",
        "JavaScript",
        "C++",
        "C",
        "React",
        "Astro",
        "Nextjs",
        "Tailwind",
        "Flask",
        "REST API",
        "GraphQL",
        "SQL",
        "Mongodb",
        "Git",
        "Problem solving",
      ]}
    />
    <hr class="max-w-sm border-teal-600 mt-2 mb-5" />
  </section>
  <section>
    <h2 class="text-4xl text-weight-800 text-teal-600">Contact</h2>
    <Contact />
  </section>
</BaseLayout>
