---
import Social from "./Social.astro";
---

<ul>
  <li>
    <Social
      url={"mailto:bassam.essam.ahmad@gmail.com"}
      icon={"fa-regular fa-envelope"}
      username={"bassam.essam.ahmad@gmail.com"}
    />
  </li>
  <li>
    <Social
      url={"https://www.instagram.com/bassamxyz"}
      icon={"fa-brands fa-instagram"}
      username={"bassamxyz"}
    />
  </li>
  <li>
    <Social
      url={"https://www.linkedin.com/in/bassam-essam-ahmad"}
      icon={"fa-brands fa-linkedin"}
      username={"bassam-essam-ahmad"}
    />
  </li>
  <li>
    <Social
      url={"https://www.twitter.com/Bassam_XYZ"}
      icon={"fa-brands fa-twitter"}
      username={"Bassam_XYZ"}
    />
  </li>
</ul>
