---
import CreditLink from "./CreditLink.astro";
---

<div class="px-5 flex flex-col sm:flex-row justify-center items-center">
  <CreditLink url={"https://astro.build"} credit={"Astro"} />
  <CreditLink url={"https://tailwindcss.com"} credit={"Tailwind"} />
  <CreditLink url={"https://netlify.com"} credit={"Netlify"} />
  <CreditLink url={"https://fontsource.org/fonts/roboto"} credit={"Roboto"} />
  <CreditLink url={"https://fontawesome.com"} credit={"Font Awesome"} />
</div>
