---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Credits from "./Credits.astro";
import Social from "./Social.astro";

const pageLang = getLangFromUrl(Astro.url);
const t = useTranslations(pageLang);
---

<footer class="flex flex-col justify-center items-center">
  <a
    href="mailto:contact@bassamahmad.com"
    class="text-teal-600 hover:text-blue-600 m-3">contact@bassamahmad.com</a
  >
  <div class="mb-5">
    <Social
      url={"https://www.instagram.com/bassamxyz"}
      icon={"fa-brands fa-instagram"}
    />
    <Social
      url={"https://www.twitter.com/Bassam_XYZ"}
      icon={"fa-brands fa-twitter"}
    />
    <Social
      url={"https://www.linkedin.com/in/bassam-essam-ahmad"}
      icon={"fa-brands fa-linkedin"}
    />
    <Social
      url={pageLang === "ar"
        ? "https://bassamahmad.com/ar/rss.xml"
        : "https://bassamahmad.com/en/rss.xml"}
      icon={"fas fa-rss"}
    />
  </div>
  {t("credits")}
  <hr class="mx-auto w-20 border-teal-600" />
  <Credits />
</footer>
