---
import Contact from "../../components/Contact.astro";
import Project from "../../components/Project.astro";
import Skills from "../../components/Skills.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const data = {
  title: "بسام أحمد",
  pageType: "website",
  description: "مطور مواقع",
  tags: [
    "مبرمج",
    "برمجة مواقع",
    "بايثون",
    "جافاسكربت",
    "مطور مواقع",
    "برمجة",
    "Frontend",
    "Backend",
    "Python",
    "JavaScript",
    "C++",
    "C",
    "React",
    "Astro",
    "Nextjs",
    "Tailwind",
    "Flask",
    "REST API",
    "GraphQL",
    "SQL",
    "Mongodb",
    "Git",
    "Problem solving",
  ],
  author: "بسام أحمد",
};
---

<BaseLayout data={data}>
  <h1 class="text-5xl text-teal-600 mt-5">بسام احمد</h1>
  <section>
    <h2 class="text-2xl my-2 px-3">مطور مواقع.</h2>
    <p class="px-3">أتطلع لزيادة خبرتي وبناء منتجات مميزة.</p>
    <hr class="max-w-sm border-teal-600 mt-2 mb-5" />
  </section>
  <section>
    <h2 class="text-4xl text-teal-600">أعمالي</h2>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 p-3"
    >
      <Project
        name="محادثة بالوقت الحقيقي"
        github="chat-app"
        demo="https://bassamchatapp.netlify.app/"
        img={{
          url: "/chat-app.webp",
          alt: "App Screenshot",
        }}
      />
      <Project
        name="تطبيق ملاحظات"
        github="note-app"
        img={{
          url: "/note-app.webp",
          alt: "App Screenshot",
        }}
      />
      <Project
        name="مقصر روابط"
        github="url-shortener"
        demo="https://url-shortener-k237.onrender.com/"
        img={{
          url: "/url-shortener.webp",
          alt: "App Screenshot",
        }}
      />
      <Project
        name="متجر الكتروني"
        github="ecommerce"
        demo="https://ecommerce-idfw.onrender.com/"
        img={{
          url: "/ecommerce.webp",
          alt: "App Screenshot",
        }}
      />
      <Project
        name="بوت ديسكورد لأنشاء كيو-آر كود"
        github="qrcoder-discord-bot"
        img={{
          url: "/discord.webp",
          alt: "App Screenshot",
        }}
      />
    </ul>
    <a
      href="http://github/BassamXYZ"
      class="px-3 text-teal-600 hover:text-blue-600">للمزيد: Github.</a
    >
    <hr class="max-w-sm border-teal-600 mt-2 mb-5" />
  </section>
  <section>
    <h2 class="text-4xl text-teal-600">مهاراتي</h2>
    <Skills
      skills={[
        "Frontend",
        "Backend",
        "Python",
        "JavaScript",
        "C++",
        "C",
        "React",
        "Astro",
        "Nextjs",
        "Tailwind",
        "Flask",
        "REST API",
        "GraphQL",
        "SQL",
        "Mongodb",
        "Git",
        "Problem solving",
      ]}
    />
    <hr class="max-w-sm border-teal-600 mt-2 mb-5" />
  </section>
  <section>
    <h2 class="text-4xl text-weight-800 text-teal-600">للتواصل</h2>
    <Contact />
  </section>
</BaseLayout>
