---
import BaseLayout from "./BaseLayout.astro";
const { data } = Astro.props;
data.pageType = "article";
---

<BaseLayout data={data}>
  <p>{data.date.slice(0, 10)}</p>
  <p><em>{data.description}</em></p>
  <article
    class="prose prose-lg dark:prose-invert prose-headings:text-teal-600 prose-a:text-teal-600 hover:prose-a:text-blue-600 prose-hr:border-teal-600 prose-blockquote:border-teal-600 marker:text-teal-600 prose-thead:border-teal-600 prose-tr:border-teal-600"
  >
    <slot />
  </article>
</BaseLayout>
